<header class="flex">
  <div class="left">
    <mat-icon>card_giftcard</mat-icon>
    <a
      mat-button
      *ngIf="wisher"
      class="btn btn-primary"
      [routerLink]="['my-list']"
      routerLinkActive="active"
      >la mia lista</a
    >
    <a
      mat-button
      *ngIf="wisher"
      class="btn btn-primary"
      [routerLink]="['friends']"
      routerLinkActive="active"
      >i miei amici</a
    >
    <a
      mat-button
      *ngIf="wisher"
      class="btn btn-primary"
      [routerLink]="['search']"
      routerLinkActive="active"
      >cerca amici</a
    >
  </div>
  <div class="right">
    <div class="notifications" (click)="openNotifications()">
      <mat-icon>notifications_none</mat-icon>
      <div *ngIf="notifications && notifications.length" class="circle">
        <span class="number">{{ notifications.length }}</span>
      </div>
    </div>
    <mat-form-field *ngIf="wisher" class="field">
      <mat-select
        class="select"
        [placeholder]="'Ciao ' + wisher.username + '!'"
      >
        <mat-option (click)="logout()">logout</mat-option>
      </mat-select>
    </mat-form-field>
    <a
      mat-button
      *ngIf="!wisher"
      class="btn btn-primary"
      [routerLink]="['auth']"
      [queryParams]="{ type: 'signup' }"
      routerLinkActive="active"
      >iscriviti</a
    >
    <a
      mat-button
      *ngIf="!wisher"
      class="btn btn-primary"
      [routerLink]="['auth']"
      [queryParams]="{ type: 'login' }"
      routerLinkActive="active"
      >entra</a
    >
  </div>
</header>
