p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-like {
  height: 36px;
  line-height: 36px;
  padding: 0 8px 0 8px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.0892857143em;
}
