@import "../../../style/variables.scss";

.wish {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  margin-bottom: 5px;
  &.my-wish {
    border-radius: 15px;
    border: 3px solid $color-2-05;
  }
}

mat-expansion-panel {
  margin-bottom: 10px;
  border: 3px solid $color-3-05;
  border-radius: 15px;
  &.mat-expansion-panel:not([class*="mat-elevation-z"]) {
    box-shadow: none;
  }
  p {
    font-size: 16px;
  }
  .mat-expansion-panel-header {
    padding: 0 15px;
  }
}
