/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import "variables.scss";

* {
  font-family: "Lato", sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 20px;
  background-color: rgb(39, 50, 56);
  color: white;
}

.darkBg {
  background-color: rgb(39, 50, 56) !important;
  .mdc-list-item__primary-text {
    color: white !important;
    font-size: 12px !important;
  }
}

.roundedModal {
  border-radius: 20px;
  overflow: hidden;
}

.mdc-button__label {
  color: white;
}
